<mat-card class="mat-elevation-z0">
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <mat-card-subtitle class="align-with-icon"
      ><mat-icon>calendar_today</mat-icon>June 29th, 2021</mat-card-subtitle
    >
    <mat-card-title>The 2020 World's Most Valuable Brands</mat-card-title>
    <p maxlength="100">
      Non sed molestie tortor massa vitae in mattis. Eget vel consequat
      hendrerit commodo libero aliquam. Urna arcu nunc tortor vitae pharetra...
    </p>
    <p class="link">Read more<mat-icon>arrow_forward</mat-icon></p>
  </mat-card-content>
</mat-card>
