<mat-card class="mat-elevation-z0">
  <img
    mat-card-image
    src='{{article.imageUrl}}'
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <mat-card-subtitle>
      <mat-icon>calendar_today</mat-icon>{{article.publishedAt | dateSuffix}}
    </mat-card-subtitle>
    <mat-card-title class="max-lines">{{article.title}}</mat-card-title>
    <p class="summary">
      {{article.summary | limitSymbols:100}}
    </p>
    <p class="link" routerLink="/articles/{{article.id}}">
      Read more<mat-icon>arrow_forward</mat-icon>
    </p>
  </mat-card-content>
</mat-card>
