.mat-card {
  padding: 0;
  img {
    margin-top: 0;
    height: 217px;
  }

  .mat-card-title {
    line-height: 29px;
    margin-bottom: 20px;
  }

  .mat-card-subtitle {
    display: flex;
    align-items: center;
  }

  .mat-card-content {
    padding: 0 25px 25px;
    p {
      font-size: 16px;
      line-height: 150%;
    }

    .mat-icon {
      font-size: 15px;
      display: flex;
      align-items: center;
    } 
  }
}