
<mat-grid-list gutterSize="45px" rowHeight="550px" class="card-list"  [cols]="breakpoint" (window:resize)="onResize($event)">
    <mat-grid-tile><app-article-item></app-article-item></mat-grid-tile>
    <mat-grid-tile><app-article-item></app-article-item></mat-grid-tile>
    <mat-grid-tile><app-article-item></app-article-item></mat-grid-tile>
    <mat-grid-tile><app-article-item></app-article-item></mat-grid-tile>
    <mat-grid-tile><app-article-item></app-article-item></mat-grid-tile>
    <mat-grid-tile><app-article-item></app-article-item></mat-grid-tile>
  </mat-grid-list>
  
